@model IDemotivator.Models.HomeViewModel

    @{
    ViewBag.Title = Resources.Resource.HomePage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

<style>

    .tag1{font-size: 0.8 em}
    .tag2{font-size: 0.9em}
    .tag3{font-size: 1em}
    .tag4{font-size: 1.2em}
    .tag5{font-size: 1.4em}
    .tag6{font-size: 1.7em}
    .tag7{font-size: 2.0em}

</style>
<link rel="stylesheet" href="~/Content/lightbox.css">
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/lightbox.js"></script>

    <h2>@ViewBag.Title.</h2>
    <dl class="dl-horizontal">
        @if(!User.Identity.IsAuthenticated)
        {
        <text>Please <a href="/Account/Login?ReturnUrl=/Demotivators/Create" title="Login to create">Login</a> to create</text>
        }
        else{
        <a href="/Demotivators/Create">Create Demotivator</a>
        }
       @foreach (var item in Model.demotivators)
       {

        <a class="example-image-link" href=@item.Url_Img data-lightbox="example-1"><img class="example-image" src=@item.Url_Img alt="image-1" width="100" height="111"/></a>

       }
        <div class="panel panel-default col-md-offset-8">
            <div class="panel-heading"> @Resources.Resource.Tags :</div>
            <div class="panel-body">
                <div id="tags">
                    @foreach (var t in Model.tags ) {

                    @Html.ActionLink(t.Name, "SearchResult", "Demotivators", new { @id=t.Id}, new { @title = "Найдено демотиваторов: " });
                    <b> </b>
                    }
                </div>
            </div>
        </div>
</dl>

