
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@{
var UserId = User.Identity.GetUserId();
}
<link href="~/Content/comments.css" rel="stylesheet" type="text/css">
<script src="~/Scripts/jquery.timeago.js" type="text/javascript"></script>
<input type="hidden" value="@ViewData["id"]" id="DemId" />
<input type="hidden" value="@UserId" id="UserId" />
<ul id="msgHolder" data-bind="foreach: posts" style="width: inherit">
        <li class="postHolder">
            <img data-bind="attr: { src: PostedByAvatar }"><p><a id="lightbox" data-bind="text: PostedByName, attr: {href: PostedBy}"></a>: <span data-bind="    html: Message"></span></p>
            <div class="postFooter" style="width: inherit;">
                <abbr class="timeago" data-bind="text: PostedDate"></abbr><div style="display: inline; float: right"><input type="button" id="Like" data-bind="name: PostId, click: addLike" value="Like" /><span  class="like_count" data-bind="text: LikeCount, attr: {id: PostId}"></span></div>
            </div>
        </li>
</ul>
<div class="notification" data-bind="visible: newPosts().length > 0"><a data-bind="    click: loadNewPosts"> <span data-bind="    text: newPosts().length"></span> new comments(s)</a></div>
@if (!User.Identity.IsAuthenticated)
{
<text>Please <a href="/Account/Login?ReturnUrl=@Request.Url.AbsolutePath" title="Login to comment">Login</a> to comment</text>
    
}
@if (User.Identity.IsAuthenticated)
{
<div class="publishContainer">
    <textarea class="msgTextArea" id="txtMessage" data-bind="value: newMessage, jqAutoresize: {}" style="height:3em;" placeholder="Write comment pls..."></textarea>
    <input type="button" data-url="/Wall/SavePost" value="Comment" id="btnShare" data-bind="click: addPost">
</div>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/jquery.autosize-min.js"></script>
<script src="~/Scripts/jquery.timeago.js"></script>
<script src="~/Scripts/knockout-3.3.0.js"></script>
<script src="~/Scripts/wallpost.js"></script>


        
