@model string
@{
    var url = Request.Url.AbsolutePath;

}
@if (!User.Identity.IsAuthenticated)
{
<text>Please <a href="/Account/Login?ReturnUrl=@Request.Url.AbsolutePath" title="Login to rate">Login</a> to rate</text>
    return;
}

<div id="ratingDiv" class="smallText">
    Poor
    <img src="/images/whitestar.gif" alt="" class="ratingStar" data-value="1" /><img src="/images/whitestar.gif" alt="" class="ratingStar" data-value="2" /><img src="/images/whitestar.gif" alt="" class="ratingStar" data-value="3" /><img src="/images/whitestar.gif" alt="" class="ratingStar" data-value="4" /><img src="/images/whitestar.gif" alt="" class="ratingStar" data-value="5" /> Excellent
    <label id="lblResult"></label>
</div>
<style type="text/css">
    .ratingStar {
        cursor:pointer;
    }
</style>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
        var clickedFlag = false;
        var shFlag = true;
        $(".ratingStar").mouseover(function () {
         if (document.getElementById("lblResult").value != "")
         {
            shFlag = false;
         }
             if (shFlag)
             {
                  $(this).attr("src", "/images/yellowstar.gif").prevAll("img.ratingStar").attr("src", "/images/yellowstar.gif");
             }
        });
        $(".ratingStar, #radingDiv").mouseout(function () {
              if (shFlag)
                {
                  $(this).attr("src", "/images/whitestar.gif").prevAll("img.ratingStar").attr("src", "/images/whitestar.gif");
                  }
         });
        $("#ratingDiv").mouseout(function () {
            if (!clickedFlag)
            {
                $(".ratingStar").attr("src", "/images/whitestar.gif");
            }
        });
        $(".ratingStar").click(function () {
            clickedFlag = true;
            shFlag = false;
            $(".ratingStar").unbind("mouseout mouseover click").css("cursor", "default");

            var url = "/Home/SendRating?r=" + $(this).attr("data-value") + "&s=5&id=@Model&url=@url";
            $.post(url, null, function (data) {
                $("#lblResult").html(data);
            });

        });
        $( document ).ready(function() {

            var url = "/Home/PreRating?r=" + $(this).attr("data-value") + "&s=5&id=@Model&url=@url";
            $.post(url, null, function (data) {
                $("#lblResult").html(data);
               document.getElementById("lblResult").value = data;
            });

        });
        $("#lblResult").ajaxStart(function () {
            $("#lblResult").html("Processing ....");
        });
        $("#lblResult").ajaxError(function () {
            $("#lblResult").html("<br />Error occured.");
        });
</script>


