@model IDemotivator.Models.SearchViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach (var item in Model.demotivators)
{
    @Html.ActionLink(item.Name, "Details", "Demotivators", new { id = item.Id }, null)
}

@foreach (var item in Model.User)
{
    @Html.ActionLink(item.UserName, "Profile", "Account", new { id = item.Id }, null)
}
