img {
      filter: gray;
      -webkit-filter: grayscale(1); 
        -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
        box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    }

    img:hover {
      filter: none; 
      -webkit-filter: grayscale(0); 

    }