
@{
    ViewBag.Title = "DisplayEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>On the specified e-mail sent further instructions to complete the registration</p>
